<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1>Items</h1>
    </div>
    <div class="col-sm-2">
      <a href="<%= new_admin_item_path %>" class="btn btn-primary" style="margin-top: 20px;">
        <i class="ion-plus-round" style="font-size: 20px; margin-right: 10px;"></i> Add Item
      </a>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Caption</th>
        <th>Donor</th>
        <th>Starting Price</th>
      </tr>
      <% @items.each do |item| %>
        <tr class='clickable-row' data-href="<%= edit_admin_item_url(item) %>">
          <td><%= image_tag item.photo_url, :width => 100 %></td>
          <td><%= item.title %></td>
          <td><%= item.caption %></td>
          <td><%= item.donor %></td>
          <td><%= item.starting_price %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".clickable-row").click(function(event) {
      window.location = $(this).data('href')
    })
  })
</script>

<style>
  .clickable-row {
    cursor: pointer;
  }
</style>